.welcome{
    background-image: url(../images/welcome-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    background-image: url(../images/text-bg.jpg);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    font-weight: 900;
    animation: movingbg 4s linear infinite ;
}
h2{
    font-size: 78px;
}
span{
    background-image: linear-gradient(to right,rgb(128, 34, 34),rgb(217, 150, 223),rgb(52, 18, 80));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    text-transform: capitalize;
}
@keyframes movingbg {
    0%{
        background-position-x:-50px;
    }
    50%{
        background-position-x:-1000px;
    }
    100%{
        background-position-x:-200px;
    }
}

.top-25{
    top: 25px;
}
.end-25{
    right: 25px;
}
@media screen and (min-width:0px) and (max-width:500px){
   h2{
    font-size: 28px;
   }
   span{
    font-size: 28px;
   }
}
@media screen and (min-width:501px) and (max-width:760px){
    h2{
        font-size: 38px;
    }
    span{
     font-size: 38px;
    }
}
@media screen and (min-width:761px) and (max-width:992px){
    h2{
        font-size: 58px;
    }
}
@media screen and (min-width:993px) and (max-width:1200px){
    h2{
        font-size: 68px;
    }
}